.hide{
    position: absolute;
    width: 330px;
    left: 5px;
    color: aliceblue;
    font-size: 15px;
    height: max-content;
    margin-top:10px;
    display:none;
    text-align: left;
    border-radius: 8px;
    background-color: rgb(68, 73, 73);
}
.hide ul li{
    line-height: 40px;
    padding: 0 10px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}