@tailwind base;
@tailwind components;
@tailwind utilities;


.nav {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

* {
    transition: 0.5s;
    font-family: -apple-system;
}

/*.content {*/
/*    background-image: linear-gradient(to top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);*/
/*}*/

.incontentbackground
{
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /*background-image: linear-gradient(to top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);*/
}

.pagelogin
{
    cursor:pointer;
}

.pageregister
{
    cursor: pointer;
}

    .box
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

